*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #db9d84 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.title{
font-size: 80px;
color: white;
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
#myInput{
    height: 60px;
    width: 60px;
    font-size: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.timer{
    font-size: 220px !important;
    height: 270px;
    display: flex;
    align-items: center;
    margin-top: 30px !important;
   color: white;
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}
